*{
    background-color: rgba(218, 189, 189, 0.918);
}
p{color: rgb(254, 255, 194); 
    h1{text-align:center;}
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#title{text-align: center;}